@import "config";
@import "utilities";
@import "item_grid";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

//Logo

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    margin: 0 auto;
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

//Header

#header {
  //Header Home
  &-home {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    //Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
        color: $light-color;
      }

      p {
        color: $light-color;
      }
    }
  }

  //Header Inner
  &-inner {
    background: $bg-image no-repeat center right / cover;
    height: 6rem;
    border-bottom: 3px solid $main-color;

    #main-nav {
      a {
        color: #fff;
      }
    }
  }
}

//Home Sections
#home {
  //Home Section A
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
}

// About Sections
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: "bioimage bio bio";
      grid-gap: 1.2rem;
    }

    //Grid Area
    .bio-image {
      grid-area: bioimage;

      img {
        border-radius: 50%;
      }
    }

    .bio {
      grid-area: bio;
      border-radius: 10px;
      border-left: 3px solid $main-color;

      p {
        font-size: 1.1rem;
      }
    }
  }

  //About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        background: $main-color;
        color: #fff;
        text-align: center;
      }
    }
  }

  // About C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;

      img {
        width: 50%;
      }
    }
  }
}

//Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
        color: $dark-color;
      }
    }
  }
}

// Import Media Queries
@import "media";
